body 
{
    background-color: #000000;
}

.navbar-custom 
{
    background-color: #1f2833;
}

.navbar-background 
{
    background-color: #4F575E;
}
          
.text-black 
{
    color: #66fcf1;
}

.nav-link 
{
    padding-top: 17px;
}

.homeLogo 
{
    width: 60px;
    height: 60px;
    padding-right: 6px;
}

.dropdown 
{
    padding-top: 14px;
    padding-right: 20px;
}

.btn-secondary 
{
    color: #66fcf1;
    background-color: #1f2833;
}

.dropdown-menu {
    background-color: #1f2833;
}

.dropdown-menu .dropdown-item
{
    color: #66fcf1;
}

.dropdown-menu .dropdown-item:hover {
    color: white;
    background-color: #5A6268;
}

.questionLabels {
    color: #66fcf1;
    padding-top: 35px;
    padding-left: 40%;
    text-align: center;
}

.questionInput {
    background-color: #4A5157;
    color: #66fcf1;
    margin-left: 40%;
}

.submitButton {
    margin-top: 2%;
    margin-left: 44%;
}